*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid {
    height: 300px;
    width: 100%;
    /* border: 2px solid black; */
    /* margin-right: 100x; */
    /* background-color: #1a374d; */
    /* opacity: 44%; */
}

.navbar {
    height: 70px;
    width: 100%;
    background-color: #1a374d;
}

.list {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 20px;
    list-style: none;
    margin-right: 20px;
}
html body{
    overflow-x: hidden;
}
/* Navbar list styling */
.navbar .list a {
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
    list-style: none;
    display: flex;
    color: white;
    justify-content: right;
    align-items: center;
    margin-right: 36px;
    /* gap: 100px; */

}

/* .navbar .list a:hover {
    text-decoration: underline;
    color: orange;
    /* border: 2px solid whitesmoke; */
     /* padding: 10px;
} */
.logo {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-left: 30px;

} 
.nav{
    height: 300px;
    width: 100%;
    background-color:#1a374d;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 50px; */
}
.nav h1{
    font-size: 4rem;
}
.nav p{
    width: 70%;
    position: absolute;
    left: 16%;
}
.sections{
    height: 640px;
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    gap: 70px;
    margin-top: 50px;
    margin-left: 10px;
}
.leftt{
    border-radius: 20px;
    height: 80%;
    width: 45%;
    /* border: 2px solid black; */
    margin-left: 4px;
}
.leftt img{
    height: 100%;
    width: 100%;
    border-radius: 20px
}
.rightt{
    margin-right: 19px;
    height: 100%;
    width: 44%;
    border-radius: 20px;
    /* border: 2px solid black; */
    
}
.list-unstyled{
    list-style: circle;
    height: 250px;
    width: 350px;
    /* border: 2px solid black; */

}
.btnn{
    height: 60px;
    width: 120px;
    color: rgba(250, 245, 245, 0.774);
    border-radius: 30px;
    background-color: rgba(12, 12, 7, 0.767);
}
.btnn:hover{
    background-color: navy;
    color: #f8f9fa;
}
 h5 {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
    font-size:3.5rem;
}

/* h2 {
    height: 2px;
    width: 162px;
    background-color: black;
    position: absolute;
    font-family: "Poppins", sans-serif;
    left: 43%;
    top: 106%;
} */

.para {
    margin-top: 15px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}
.items {
    height: 400px;
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.box5 {
    height: 70%;
    width: 210px;
    /* border: 2px solid black; */
    border-radius: 20px;
    margin-left: 35px;
   display: flex;
   justify-content: center;
}

.box5 img {
    height: 80%;
    width: 100%;
    border-radius: 20px;
}
.box5 h6{
    
}
/* testimonial */
.testimonials {
    height: 500px;
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #f8f9fa;
}

.box4 {
    height: 250px;
    width: 600px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;

}

.box8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 100px;
    /* border: 2px solid black; */
    align-items: center;
    border-radius: 50%;
}

.box8 img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.sections{
    height: 640px;
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    gap: 70px;
    margin-top: 100px;
}
.leftt{
     border-radius: 20px;
    height: 100%;
    width: 45%;
    /* border: 2px solid black; */
    margin-left: 4px;
}
.leftt img{
    height: 100%;
    width: 100%;
    border-radius: 20px
}
.rightt{
    height: 100%;
    width: 44%;
    border-radius: 20px;
    /* border: 2px solid black; */
    
}
.list-unstyled{
    list-style: circle;
    height: 250px;
    width: 350px;
    /* border: 2px solid black; */

}
.btnn{
    height: 60px;
    width: 120px;
    color: rgba(250, 245, 245, 0.774);
    border-radius: 30px;
    background-color: rgba(12, 12, 7, 0.767);
}
.btnn:hover{
    background-color: navy;
    color: #f8f9fa;
}
.nav{
    height: 300px;
    width: 100%;
    background-color:#1a374d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 50px; */
}
.let{
    height: 200px;
    width: 90%;
    color: white;
}
.bnt{
    padding: 15px;
    border: 3px solid rgb(253, 251, 251);
      /* border-top-right-radius: 26%; 
     border-top-left-radius: 16%;
    border-bottom-right-radius: 16%;
    border-bottom-left-radius: 16%;  */
    background-color: #1a374d;
    color: #e7eefa;
    border-radius: 30px;
}
.bnt:hover{
    background-color: white;
    color: #1a374d;
}
/* footer */
.footer{
    height: 200px;
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
    gap: 15px;
    list-style: none;
    /* text-align: center; */

}
.iteem1{
    height: 300px;
    /* border: 2px solid black; */
    width: 250px;
    /* text-align: center; */
    list-style: none;
    margin-left: 5px;


}
.iteem2{
   height: 300px;
    /* border: 2px solid black; */
    width: 200px;
    /* text-align: center; */
    list-style: none;
    

}
.iteem3{
    height: 300px;
    /* text-align: center; */
    list-style: none;

    /* border: 2px solid black; */
    width: 200px;
}
.iteem4{
   height: 300px;
    /* border: 2px solid black; */
    width: auto;
    /* text-align: center; */
    margin-left: 10px;
    list-style: none;


}
.links{
    list-style: none;
} 
.links li a{
    color: #1a374d;
    text-decoration: none;

}
.aand{
    width: 80vw;
    height: 30px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 60px;

}



