*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    overflow-x: hidden;
}
.container-fluid{
    height: 600px;
    /* border: 2px solid black; */
    background-color: #674777;
    color: white;
}
.navbar {
    height: 70px;
    width: 100%;
    /* background-color: #6998AB; */
     background-color: #674777;
}

.list {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 20px;
    list-style: none;
    margin-right: 20px;
}

/* Navbar list styling */
.navbar .list a {
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 36px;
    /* gap: 100px; */

}

.navbar .list a:hover {
    text-decoration: underline;
    color: orange;
    /* border: 2px solid whitesmoke; */
     padding: 10px;
}
.sections{
    height: 540px;
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    gap: 70px;
    /* margin-top: 30px; */
}
.leftt{
     border-radius: 20px;
    height: 100%;
    width: 45%;
    /* border: 2px solid black; */
    margin-left: 4px;
}
.leftt img{
       margin-top: 80px;
    height: 70%;
    width: 100%;
    border-radius: 20px
}

.rightt{
       margin-top: 80px;
    height: 100%;
    width: 44%;
    border-radius: 20px;
    /* border: 2px solid black; */
    
}
/* h2{
    color: burlywood;
} */
