*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid {
    height: 350px;
    width: 100%;
    /* border: 2px solid black; */
    /* margin-right: 100x; */
    background-color: #f7f7f7;
    /* opacity: 44%; */
}

.navbar {
    height: 70px;
    width: 100%;
    background-color: #1a374d;
}

.list {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 20px;
    list-style: none;
    margin-right: 20px;
}
html body{
    overflow-x: hidden;
}
/* Navbar list styling */
.navbar .list a {
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 36px;
    /* gap: 100px; */

}

/* .navbar .list a:hover {
    text-decoration: underline;
    color: orange;
    /* border: 2px solid whitesmoke; */
     /* padding: 10px;
} */
.logo {
    font-size: 2rem;
    font-weight: 600;

} 
.nav{
    height: 300px;
    width: 100%;
    background-color:#1a374d;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 50px; */
}
.nav h1{
    font-size: 4rem;
}
.nav p{
    width: 70%;
    position: absolute;
    left: 16%;
}
.testimonials {
    height: 500px;
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #f8f9fa;
}

.box4 {
    height: 250px;
    width: 600px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;

}

.box8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 100px;
    /* border: 2px solid black; */
    align-items: center;
    border-radius: 50%;
}

.box8 img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.sectionss{
    height: 400px;
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    gap: 70px;
    margin-top: 50px;
    margin-left: 10px;
}
.lefttt{
    border-radius: 20px;
    height: 70%;
    width: 45%;
    /* border: 2px solid black; */
    margin-left: 4px;
    gap: 50px;
    margin-top: 50px;
}
/* .leftt img{
    height: 100%;
    width: 100%;
    border-radius: 20px
} */
.righttt{
    margin-right: 19px;
    height: 70%;
    width: 44%;
    border-radius: 20px;
    display: flex;
    /* border: 2px solid black; */
}
.opt1{
    height: 130px;
    /* border: 2px solid black; */
    width: 400px;
}
.opt2{
    height: 130px;
    /* border: 2px solid black; */
    width: 400px;
}
.opt3{
    height: 130px;
    /* border: 2px solid black; */
    width: 400px;
}
.opt4{
    height: 130px;
    /* border: 2px solid black; */

    width: 400px;
}
.footer{
    height: 200px;
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    margin-top: 250px;
    margin-left: 70px;
    gap: 15px;
    list-style: none;
    /* background-color: aliceblue; */
    /* text-align: center; */

}
.iteem1{
    height: 300px;
    /* border: 2px solid black; */
    width: 250px;
    /* text-align: center; */
    list-style: none;
    margin-left: 5px;


}
.iteem2{
   height: 300px;
    /* border: 2px solid black; */
    width: 200px;
    /* text-align: center; */
    list-style: none;
    

}
.iteem3{
    height: 300px;
    /* text-align: center; */
    list-style: none;

    /* border: 2px solid black; */
    width: 200px;
}
.iteem4{
   height: 300px;
    /* border: 2px solid black; */
    width: auto;
    /* text-align: center; */
    margin-left: 10px;
    list-style: none;


}
.links{
    list-style: none;
} 
.links li a{
    color: #1a374d;
    text-decoration: none;

}
.aand{
    width: 80vw;
    height: 30px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 60px;

}






