*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid {
    height: 350px;
    width: 100%;
/* 
Responsive rules (affect all pages that include services.css)
img, .box1 img, .box5 img, .box6 img, .leftt img, .rightt img {
    max-width: 100%;
    height: auto;
    display: block;
} */

/* Make the main hero/container adapt on smaller screens */
/* .container-fluid {
    padding: 24px 12px;
}

@media (max-width: 992px) {
    .left, .right {
        width: 100% !important;
    }

    .left>.box1 {
        width: 100% !important;
        margin-left: 0;
    }

    .right>.box2 {
        width: calc(50% - 20px) !important;
    }

    .box5, .box6 {
        width: calc(50% - 20px) !important;
        margin-left: 0;
    }

    .nav h1 { font-size: 2.5rem; }
    .nav p { left: 6%; width: 88%; }
    .items { gap: 16px; }
    .footer { flex-wrap: wrap; }
}

@media (max-width: 768px) {
    .right>.box2 {
        width: 100% !important;
    }

    .box5, .box6 {
        width: 100% !important;
        margin-left: 0;
    }

    .list {
        flex-direction: column !important;
        align-items: flex-start !important;
        margin-right: 0 !important;
        padding-left: 0;
        gap: 8px;
    }

    .navbar .list a {
        margin-right: 0 !important;
        padding: 8px 0;
    } */

    /* .logo { font-size: 1.6rem; }
    .nav h1 { font-size: 1.8rem; }
    .nav { padding: 24px 12px; }
    section { flex-direction: column; }
    .para p { width: 90%; left: 5%; }
    .aand { width: 100%; margin-left: 0; }
}

@media (max-width: 480px) {
    .right>.box2 { padding: 10px; }
    .nav h1 { font-size: 1.4rem; }
    h5 { font-size: 2rem; }
    .items { margin-top: 20px; }
} */

    /* margin-right: 100x; */
    background-color: #1a374d00;
    /* opacity: 44%; */
}

.navbar {
    height: 70px;
    width: 100%;
    background-color: #1a374d;
}

.list {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 20px;
    list-style: none;
    margin-right: 20px;
}
html body{
    overflow-x: hidden;
}
/* Navbar list styling */
.navbar .list a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 36px;
    /* gap: 100px; */

}

/* .navbar .list a:hover {
    text-decoration: underline;
    color: orange;
    /* border: 2px solid whitesmoke; */
     /* padding: 10px;
} */
.logo {
    font-size: 2rem;
    font-weight: 600;

} 
.nav{
    height: 300px;
    width: 100%;
    background-color:#1a374d;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 50px; */
}
.nav h1{
    font-size: 4rem;
}
.nav p{
    width: 70%;
    position: absolute;
    left: 16%;
}
.items {
    height: 400px;
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.box6 {
    height: 100%;
    width: 210px;
    /* border: 2px solid black; */
    border-radius: 20px;
    margin-left: 55px;
    /* position: absolute; */
    text-align: center;
 
}

.box6 img {
    height: 20%;
    width: 20%;
    border-radius: 20px;
}
.items {
    height: 400px;
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 0px;
}

.box5 {
    height: 100%;
    width: 250px;
    /* border: 2px solid black; */
    border-radius: 20px;
    margin-left: 35px;
   display: flex;
   justify-content: center;
}

.box5 img {
    height: 80%;
    width: 100%;
    border-radius: 20px;
}
h5 {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
    font-size: 4.5rem;
}

/* h2 {
    height: 2px;
    width: 162px;
    background-color: black;
    position: absolute;
    font-family: "Poppins", sans-serif;
    left: 43%;
    top: 106%;
} */

.para {
    margin-top: 15px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}

section {
    height: auto;
    width: 100%;
    margin-top: 50px;
    /* border: 2px solid black; */
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
}

.left {
    height: 520px;
    width: 35%;
    margin-top: 10px;
    /* border: 2px solid black */
}

.left>.box1 {
    height: 100%;
    width: 87%;
    margin-left: 10px;
    /* border: 2px solid black; */
    border-radius: 5%;
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.left>.box1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: high-quality;
    image-rendering: crisp-edges;
    transition: transform 220ms ease, box-shadow 220ms ease, filter 220ms ease;
    display: block;
}

.left>.box1:hover img,
.left>.box1:focus-within img {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.18), 0 6px 10px rgba(0, 0, 0, 0.08);
    filter: contrast(1.03) saturate(1.02);
}

.right {
    height: 100%;
    width: 65%;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
}

.right>.box2 {
    width: 300px;
    height: 250px;
    margin: 10px;
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    /* border: 2px solid rgba(0, 0, 0, 0.08); */
    background-color: #e7eefa;
    transition: transform 200ms ease, box-shadow 200ms ease, border-color 200ms ease;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 12px;

}

.right>.box2:hover,
.right>.box2:focus {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.06);
    border-color: rgba(0, 0, 0, 0.15);
    outline: none;
}

.right>.box2>h4 {
    font-size: 1.5rem;
    padding-left: 13px;
    font-family: "Poppins", sans-serif;
}

.right>.box2>p {
    font-size: 0.9rem;
    padding-left: 13px;
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
}

.right .box2 img {
    height: 80px;
    width: 80px;
}

/* footer */
.nav{
    height: 300px;
    width: 100%;
    background-color:#1a374d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 50px; */
}
.let{
    height: 200px;
    width: 90%;
    color: white;
}
.explore{
    font-size: 1rem;
}
.bnt{
    padding: 15px 35px;
    border: 3px solid rgb(253, 251, 251);
      /* border-top-right-radius: 26%; 
     border-top-left-radius: 16%;
    border-bottom-right-radius: 16%;
    border-bottom-left-radius: 16%;  */
    background-color: #1a374d;
    color: #e7eefa;
    border-radius: 30px;
    margin-top: 45px;
}
.bnt:hover{
    background-color: white;
    color: #1a374d;
}
/* footer */
.footer{
    height: 200px;
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
    gap: 15px;
    list-style: none;
    /* text-align: center; */

}
.iteem1{
    height: 300px;
    /* border: 2px solid black; */
    width: 250px;
    /* text-align: center; */
    list-style: none;
    margin-left: 5px;


}
.iteem2{
   height: 300px;
    /* border: 2px solid black; */
    width: 200px;
    /* text-align: center; */
    list-style: none;
    

}
.iteem3{
    height: 300px;
    /* text-align: center; */
    list-style: none;

    /* border: 2px solid black; */
    width: 200px;
}
.iteem4{
   height: 300px;
    /* border: 2px solid black; */
    width: auto;
    /* text-align: center; */
    margin-left: 10px;
    list-style: none;


}
.links{
    list-style: none;
} 
.links li a{
    color: #1a374d;
    text-decoration: none;

}
.aand{
    width: 80vw;
    height: 30px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 60px;

}






